<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.alu.cordova-service"
        version="0.0.1">

    <name>ALU Service</name>
    <description>Service Plugin for Android. Start any service from Javascript code,
        and register them to start at device boot</description>
    <license>Apache 2.0</license>
    <keywords>Service</keywords>
    <repo>https://github.com/Khopa/com.alu.cordova-service</repo>
    <issue>https://github.com/Khopa/com.alu.cordova-service/issues</issue>

    <js-module src="www/service.js" name="www/js/plugin/service.js"/>

    <!-- android -->
    <platform name="android">

        <!-- Inject permissions for boot receiver -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>

        <!-- Bind Boot Finished action to ServiceBoot Receiver -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:enabled="true" android:name="com.alu.service.ServiceBootReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
        </config-file>

        <!-- Bind example service -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.alu.service.example.ExampleServiceA" android:label="ExampleServiceA" >
            </service>
        </config-file>

        <!-- Inject plugin feature into config.xml -->
        <config-file target="config.xml" parent="/*">
            <feature name="Service">
                <param name="android-package" value="com.alu.service.ServicePlugin" />
            </feature>
        </config-file>

        <!-- Inject java source file into Android project -->
        <source-file src="src/android/com/alu/service/ServicePlugin.java"           target-dir="src/com/alu/service" />
        <source-file src="src/android/com/alu/service/ServiceUtils.java"            target-dir="src/com/alu/service" />
        <source-file src="src/android/com/alu/service/ServiceBootReceiver.java"     target-dir="src/com/alu/service" />
        <source-file src="src/android/com/alu/service/ServiceManager.java"          target-dir="src/com/alu/service" />
        <source-file src="src/android/com/alu/service/example/ExampleServiceA.java" target-dir="src/com/alu/service/example" />

    </platform>

    <!-- ios : TODO -->


</plugin>
